altgraph==0.17.4
macholib==1.16.3
packaging==25.0
pyinstaller==6.14.1
pyinstaller-hooks-contrib==2025.5
PyQt5==5.15.11
PyQt5-Qt5==5.15.17
PyQt5_sip==12.17.0
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.17
setuptools==80.9.0
urwid==3.0.2
wcwidth==0.2.13
